black ; python_version >= '3.6'
flake8
isort
jedi
launchpadlib ; sys_platform == 'linux' or sys_platform == 'linux2'
neovim ; python_version >= '3'
proselint
psutil
pyaml
python-language-server
ruamel.yaml.cmd
setproctitle
vim-vint
yamllint
