DOTFILES_DIRS="${HOME}/.dotfiles-personal ${HOME}/.dotfiles-custom ${HOME}/.dotfiles"
EXCLUDES="*:README.md *:LICENSE *:Brewfile *:*.example *:tags *:test-files"
UNDOTTED="*:Library *:bin"
TAGS="neovim"
